{{define "content"}}
<div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
        <h3>List product</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Created day</th>
                    <th>Updated day</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Data.Product }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Description }}</td>
                    <td><img src="/public/images/product/{{ .Image }}" alt="{{ .Name }}"></td>
                    <td>{{ .Price }}</td>
                    <td>{{ .Created_at }}</td>
                    <td>{{ .Updated_at }}</td>
                    <td>
                        <a href="/admin/product/delete/{{ .Id }}">Delete</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{end}}