{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <h3 class="title">
        Shopping Cart
        </h3>
        <div class="clearfix">
        </div>
        <table class="shop-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Dtails</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {{ if .Data }}
            {{ range .Data }}
            <tr class = "remove-{{ .CartDetailId }}">
                <td>
                    <img src="public/images/product/{{ .Image }}" alt="">
                </td>
                <td>
                    <div class="shop-details">
                        <div class="productname">
                            {{ .Name }}
                        </div>
                        <p>Product Code : <strong class="pcode">Dress 120</strong></p>
                    </div>
                </td>
                <td>
                    <h5>{{ .Price }} $</h5>
                </td>
                <td>
                    <input  name="quantity" type="number" min="1" value="{{ .Quantity }}" style="width: 100%;" class="quantity">
                </td>
                <td>
                    <h5><strong class="red total-price">{{ .TotalPrice }}  $</strong></h5>
                </td>
                <td>
                    <a href="javascript:void(0)" data-id="{{ .CartDetailId }}" data-total-price = "{{ .TotalPrice }}" class="btn btn-danger btn-sm remove-cart">
                        <!--<img src="public/images/remove.png" alt="">-->
                        Remove
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" data-id="{{ .CartDetailId }}" data-price="{{ .Price }}" data-quantity = "{{ .Quantity }}" class="btn btn-info btn-sm update-cart">Update</a>
                </td>
            </tr>
            {{ end }}
            {{ else }}
            <tr>
                <td colspan="7">Giỏ hàng rỗng</td>
            </tr>
            {{ end }}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <a href="{{ .Url }}" class="pull-left btn btn-default">
                    Continue Shopping
                    </a>
                    <div class="col-md-4 col-sm-6 pull-right">
                        <div class="shippingbox">
                            <div class="grandtotal">
                                <h5 style="width:47%">GRAND TOTAL </h5>
                                <span id="grand-total"></span>
                            </div>
                            <a class="btn btn-default">Process To Checkout</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
        </table>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="our-brand">
    <h3 class="title"><strong>Our </strong>Brands</h3>
    <div class="control">
        <a id="prev_brand" class="prev" href="#">&lt;</a>
        <a id="next_brand" class="next" href="#">&gt;</a>
    </div>
    <ul id="braldLogo">
        <li>
            <ul class="brand_item">
                <li>
                <a href="#">
                    <div class="brand-logo">
                    <img src="public/images/envato.png" alt="">
                    </div>
                </a>
                </li>
                <li>
                <a href="#">
                    <div class="brand-logo">
                    <img src="public/images/themeforest.png" alt="">
                    </div>
                </a>
                </li>
                <li>
                <a href="#">
                    <div class="brand-logo">
                    <img src="public/images/photodune.png" alt="">
                    </div>
                </a>
                </li>
                <li>
                <a href="#">
                    <div class="brand-logo">
                    <img src="public/images/activeden.png" alt="">
                    </div>
                </a>
                </li>
                <li>
                <a href="#">
                    <div class="brand-logo">
                    <img src="public/images/envato.png" alt="">
                    </div>
                </a>
                </li>
            </ul>
        </li>
        <li>
            <ul class="brand_item">
                <li>
                    <a href="#">
                        <div class="brand-logo">
                        <img src="public/images/envato.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="brand-logo">
                            <img src="public/images/themeforest.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="brand-logo">
                            <img src="public/images/photodune.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="brand-logo">
                            <img src="public/images/activeden.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="brand-logo">
                            <img src="public/images/envato.png" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<script>
    var base_url = '{{ .Url }}'
    var data = {{.Data}}
</script>
{{end}}