{{define "content"}}
    <div class="row">
    <div class="col-md-12">
      <div class="checkout-page">
        <div class="checkout-steps">
            <a href="checkout.html" class="step-title">
              02. billing information
            </a>
            <div class="step-description">
              <form>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="your-details">
                      <h5>
                        Your Persional Details
                      </h5>
                      <div class="form-row">
                        <label class="lebel-abs">
                          First Name 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Last Name 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Email 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Telephone 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Fax 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Company 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="pass-wrap">
                        <div class="form-row">
                          <label class="lebel-abs">
                            Your Password 
                            <strong class="red">
                              *
                            </strong>
                          </label>
                          <input type="password" class="input namefild" name="">
                        </div>
                        <div class="form-row">
                          <label class="lebel-abs">
                            Confird Your Password 
                            <strong class="red">
                              *
                            </strong>
                          </label>
                          <input type="password" class="input cpass" name="">
                        </div>
                      </div>
                      <p>
                        <span class="input-radio">
                          <input type="radio" name="user">
                        </span>
                        <span class="text">
                          I wish to subscribe to the Herbal Store newsletter.
                        </span>
                      </p>
                      <p>
                        <span class="input-radio">
                          <input type="radio" name="user">
                        </span>
                        <span class="text">
                          My delivery and billing addresses are the same.
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="your-details">
                      <h5>
                        Your Address
                      </h5>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Address 01 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Address 02
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          City 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Pass Code 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Country 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Region / State 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="">
                      </div>
                      <p class="privacy">
                        <span class="input-radio">
                          <input type="radio" name="user">
                        </span>
                        <span class="text">
                          I have read and agree to the 
                          <a href="#" class="red">
                            Privacy Policy
                          </a>
                        </span>
                      </p>
                      <button>
                        Continue
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{{end}}