{{define "content"}}
    <div class="row">
    <div class="col-md-12">
      <div class="checkout-page">
        <div class="checkout-steps">
            <div class="step-description">
              {{if eq .Status false}}
              <form method="POST" action="/register">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="your-details">
                      <h5>
                        Your Persional Details
                      </h5>
                      {{if ne .Messeage ""}}
                        <div class="alert alert-danger">
                          {{.Messeage}}
                        </div>
                      {{end}}
                      <div class="form-row">
                        <label class="lebel-abs">
                          Full Name 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="full_name">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Email 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="email">
                      </div>
                      <div class="form-row">
                        <label class="lebel-abs">
                          Telephone 
                          <strong class="red">
                            *
                          </strong>
                        </label>
                        <input type="text" class="input namefild" name="telephone">
                      </div>
                      <!-- <div class="pass-wrap"> -->
                        <div class="form-row">
                          <label class="lebel-abs">
                            Your Password 
                            <strong class="red">
                              *
                            </strong>
                          </label>
                          <input type="password" class="input namefild" name="password">
                        </div>
                        <div class="form-row">
                          <label class="lebel-abs">
                            Confirm Your Password 
                            <strong class="red">
                              *
                            </strong>
                          </label>
                          <input type="password" class="input namefild" name="password_conf">
                        </div>
                      <!-- </div> -->
                    </div>
                    <button>
                      Register
                    </button>
                  </div>
                </div>
              </form>
              {{else}}
                <div class="panel panel-success">
                  <div class="panel-heading">Redirect to Home page after 5 seconds ...</div>
                  <div class="panel-body">
                      Register success!
                  </div>
                </div>
                <script>
                   var delay = 5000; 
                    setTimeout(function(){ window.location = "/"; }, delay);
                </script>
              {{end}}
            </div>
        </div>
      </div>
    </div>
  </div>
{{end}}